*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bg-color-1: rgb(255, 0, 0);
  --bg-color-2: rgb(233, 233, 233);
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: url("./assets/bg.png") fixed no-repeat center;
  background-size: cover;
}
.root {
  height: 95vh;
  width: 90%;
}
.flex {
  display: flex;
}
.root > div {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}
.logo-container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  width: min(30rem, 90%);
}
.cards-container {
  display: flex;
  gap: 1rem;
  width: min(30rem, 90%);
  position: relative;
  height: 90%;
}
.homepage-card {
  height: 20rem;
  width: 15rem;
  position: absolute;
  background-color: rgb(255, 255, 255);
  border: 0.2rem solid var(--bg-color-1);
  border-radius: 0.5rem;
  display: grid;
  place-items: center;
}
.homepage-card > img {
  width: 50%;
}
.homepage-card-3 {
  height: 22rem;
  width: 17rem;
  bottom: 0;
}
.homepage-card-2 {
  height: 18rem;
  width: 13rem;
  top: 25%;
  right: 50%;
  transform: translate(75%, 0);
}
.homepage-card-1 {
  height: 15rem;
  width: 11rem;
  top: 0;
  right: 0;
}

.button {
  padding: 0.5rem 1rem;
  background-color: var(--bg-color-1);
  border-radius: 0.3rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--bg-color-2);
  border: 0.2rem solid transparent;
  transition: 0.2s ease;
}
.button:visited {
  color: var(--bg-color-2);
}
.button:hover {
  color: var(--bg-color-1);
  background-color: var(--bg-color-2);
  border-color: var(--bg-color-1);
}
.time-button {
  background-color: var(--bg-color-1);
  color: var(--bg-color-2);
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}
.table {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, 8rem);
  padding: 2rem;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.089);
}
.card-container {
  height: 8rem;
  width: 8rem;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.3s;
  background: linear-gradient(
    45deg,
    var(--bg-color-1) 50%,
    var(--bg-color-2) 50%
  );
  transform: rotateY(180deg);
  border-radius: 0.5rem;
}
.card-container.odd {
  background: linear-gradient(
    135deg,
    var(--bg-color-2) 50%,
    var(--bg-color-1) 50%
  );
}
.card-container.forwards {
  transform: rotateY(0deg);
}
.card-front {
  position: absolute;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}
.card-back {
  font-size: 4em;
  display: grid;
  place-items: center;
  background-color: var(--bg-color-2);
  position: absolute;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  transform: rotateY(0deg);
}
.right-pair {
  pointer-events: none;
  opacity: 0.5;
}
.img-levelUp {
  width: min(80%, 20rem);
}
.button-continue {
  background-color: var(--bg-color-1);
  color: var(--bg-color-2);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
.container-continue {
  background-color: transparent;
  align-items: center;
  font-weight: 700;
  font-size: 1.3rem;
}
.arrow-continue {
  width: 2rem;
}
.arrow-1 {
  animation: arrow-move 0.8s infinite ease-in alternate;
}
.arrow-2 {
  animation: arrow-move 0.8s infinite ease-in alternate;
  position: relative;
  left: -15px;
}
.arrow-3 {
  animation: arrow-move 0.8s infinite ease-in alternate;
  position: relative;
  left: -30px;
}
@keyframes arrow-move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(0.5rem);
  }
}
