*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bg-color-1: rgb(255, 0, 0);
  --bg-color-2: rgb(233, 233, 233);
}
img {
  width: 100%;
}
main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: linear-gradient(
    135deg,
    var(--bg-color-2) 55%,
    var(--bg-color-1) 45%
  );
}
.root {
  height: 95vh;
  width: 90%;
}
.root > div {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(45deg, var(--bg-color-2) 50%, transparent 50%);
  gap: 1rem;
  flex-wrap: wrap;
}
.logo-container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  width: min(30rem, 90%);
}
.cards-container {
  display: flex;
  gap: 1rem;
  width: min(30rem, 90%);
  position: relative;
  height: 90%;
}
.homepage-card {
  height: 20rem;
  width: 15rem;
  position: absolute;
  background-color: white;
  border: 0.2rem solid rgb(255, 0, 0);
  border-radius: 0.5rem;
  display: grid;
  place-items: center;
}
.homepage-card > img {
  width: 50%;
}
.homepage-card-3 {
  height: 22rem;
  width: 17rem;
  bottom: 0;
}
.homepage-card-2 {
  height: 18rem;
  width: 13rem;
  top: 25%;
  right: 50%;
  transform: translate(75%, 0);
}
.homepage-card-1 {
  height: 15rem;
  width: 11rem;
  top: 0;
  right: 0;
}

.button {
  padding: 0.5rem 1rem;
  background-color: rgb(255, 0, 0);
  border-radius: 0.3rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
  border: 0.2rem solid transparent;
  transition: 0.2s ease;
}
.button:visited {
  color: white;
}
.button:hover {
  color: rgb(255, 0, 0);
  background-color: white;
  border-color: rgb(255, 0, 0);
}
.table {
  width: 100%;
  display: grid;
  place-content: center;
  place-items: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, 8rem);
}
.card-container {
  height: 8rem;
  width: 8rem;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.3s;
  background: linear-gradient(
    180deg,
    rgb(255, 123, 16) 0%,
    rgb(175, 34, 34) 100%
  );
  transform: rotateY(180deg);
  border-radius: 0.5rem;
}
.card-container.forwards {
  transform: rotateY(0deg);
}
.card-front {
  position: absolute;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}
.card-back {
  font-size: 4em;
  display: grid;
  place-items: center;
  background-color: white;
  position: absolute;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  transform: rotateY(0deg);
}
.right-pair {
  pointer-events: none;
  opacity: 0.5;
}
