*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --hotpink: #e94057;
    --orange: #f27121;
    --gradient: linear-gradient(35deg, var(--orange), var(--hotpink));
}
main{
    display:  flex;
}

.table{
    position: relative;
    margin: auto 0;
    height: 100vh;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}
.controls-side{
    height: 100vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 4rem;
}
.controls{
    display: flex;
    flex-direction: inherit;
}
.control-container{
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    color: #e94057;
    font-weight: 800;
}
.card{
    width: 6rem;
    height: 6rem;
    margin: 0.5rem;
    border-radius: 0.3em;
    background-image: var(--gradient);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    cursor: pointer;
    backface-visibility: hidden;
    transition: 0.5s;
}
.card-content{
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    border-radius: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    padding-top: 0.4rem;
    transition: 0.5s;
}
.card::selection{
    background-color: transparent;
}.card.frontwards{
    background:none;
    transform: rotateY(0deg);
}
.card.frontwards>*{
    transform: rotateY(0deg);
}
.right-pair{
    opacity: 0.5;
    pointer-events: none;
}
.result{
    margin: 0 auto;
    height: 4rem;
    width: 50%;
    border: thin solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    left: 60%;
    top: 50%;
    width: 10rem;
    height: 4rem;
}

@keyframes error {
    10%,
    90% {
        transform: translateX(-1px);
    }
    20%,
    80% {
        transform: translateX(2px);
    }
    30%,
    50%,
    70% {
        transform:  translateX(-4px);
    }
    40%,
    60% {
        transform: translateX(4px);
    }
}

@keyframes right{
    from {
        transform: scale3d(1, 1, 1);
    opacity: 0.5;
    }
    25% {
        transform: scale3d(1.1, 1.1, 1.1);
        opacity: 0.5;
    }

    to {
        transform:scale3d(1, 1, 1);
        opacity: 0.5;
    }
}
.right-pair{
    animation: right 1.3s ease-in-out forwards;
}

.error {
    animation: error 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}